// CORE SCSS FOR CALCULATOR
// Using Koala to compile to raw CSS.

// Variables
// ==============================

$base-font-family: Arial, Verdana;
$calc__background: #2a373c;
$calc__btn-function--background: #ec485d;
$calc__btn-operator--background: #f7ba86;
$calc__btn-num--background: #f6827b;

// Calculator Styles
// ==============================

#calculator {
	background: $calc__background;
	width: 260px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $base-font-family;
	color: #fff;

	.screen {
		height: 150px;
	}

	.input-wrap {
		padding: 30px 20px 0;
	}

	.result-wrap {
	    padding: 0 20px;
	}

	#input,
	#result {
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: right;
		white-space: nowrap;
	}

	#result {
		font-size: 60px;
	}

	#input {
		font-size: 27px;
		color: #999;
	}

	.btn-row {
		display: flex;
		background: $calc__btn-num--background;
		margin-top: 1px;
	}

	.blank {
		flex: 1;
	}

	.btn {
		flex: 1;
		text-align: center;
		line-height: 60px;
		height: 60px;
		font-size: 24px;
		cursor: pointer;

		> span {
			user-select: none; // prevent text highlighting
		}

		&.function {
			background: $calc__btn-function--background;

			&:hover {
				background: darken($calc__btn-function--background, 10%);
			}
		}

		&.operator {
			background: $calc__btn-operator--background;
			flex: 0 0 25%;

			&:hover {
				background: darken($calc__btn-operator--background, 10%);
			}
		}

		&.num {
			background: $calc__btn-num--background;

			&:hover {
				background: darken($calc__btn-num--background, 10%);
			}
		}
	}
}